<div class="container">
  <div class="toolbar">
    <div>
      <input type="text" [(ngModel)]="newRoom" placeholder="Enter room ID">
      <input type="text" [(ngModel)]="userName" placeholder="Enter your name">
      <button class="join_btn" (click)="joinRoom()" mat-raised-button color="accent">JOIN</button>
    </div>
    <div>
      <input class="send_input" type="text" [(ngModel)]="newMessage" placeholder="Enter Message">
      <button class="send_btn" (click)="sendMessage()" mat-icon-button><mat-icon>send</mat-icon></button>
    </div>
  </div>
</div>

<div class="container">
  <div class="chatbox">
    <div [ngClass]="message.from === userName ? 'from_me' : 'from_other'" *ngFor="let message of messages">
      <div class="msg_container">
        <div [ngClass]="{'right_msg': message.from === userName}">
          <div [ngClass]="{'my_username': message.from === userName}" class="user">{{message.from}}</div>
        </div>
        <div [ngClass]="{'right_msg': message.from === userName}">
          <div [ngClass]="{'my_msg': message.from === userName}" class="message"> {{message.msg}} </div>
        </div>
      </div>
    </div>
  </div>
</div>